body {
   font-family: "DomaineText",Georgia,serif;
}

a.headerlogo img {
    width: 8%;
}
span#headername {
    font-size: 100px;
    font-weight: 700;
    color: #e70709;
    position: absolute;
    padding-left: 30px;
}
div#welcomeimage, article#robo1 {
    text-align: center;
    margin-bottom: 30px;
}
input.searchbox {
    float: right;
}

section#welcometext {
    -webkit-column-count:2; /* Chrome, Safari, Opera */
    -moz-column-count:2; /* Firefox */
    column-count:2;

    -webkit-column-gap: 40px; /* Chrome, Safari, Opera */
    -moz-column-gap: 40px; /* Firefox */
    column-gap: 40px;

    margin-left: 20px;
 }
 div#coffeeofthemonth {
    float: right;
}
form#contactForm fieldset,
fieldset.defaut_border,
fieldset.computers,
fieldset.history
 {
    border: none;
}
form {
    margin-top: 30px;
}
form fieldset {
    float: left;
    width: 31%;
    height: 400px;
}
form#contactForm fieldset {
    width: 98%;
    text-align: center;
}

button#btnSendInfo,
button.submitbutton {
    width: 100px;
    height: 40px;
    border-radius: 4px;
    color: #fff;
    background-color: #e70709;
    font-size: 20px;
}
/*form#contactForm button#btnSendInfo {
    text-align: center !important;
}*/
.address.clearfix {
    padding-left: 58px;
}
p.textcontent, p.textcontent, .address {
    float: left;
    width: 30%;
} {
    float: left;
    width: 30%;
} 

article#robo2 {
    float: left;
    width: 50%;
} 
article#robo3 {
    float: right;
}
fieldset.defaut_border legend {
    text-align: center;
    font-size: 35px;
}

footer {
    background-color: #f0f0f0;
    height: 90px;
    border-top: 2px solid #e70709;
} 
p.smalltext.clearfix{
   padding-top: 15px;
}
p.smalltext.clearfix,
p.textcontent.clearfix {
    text-align: center;
}
input.searchbox {
    float: right;
    width: 200px;
    height: 119px !important;
    margin-right: 30px;
    margin-top: 40px;
}

nav.navbar-background , nav.backgroundgradient{
    height: 45px;
    width: 100%;
    margin-bottom: 5px;
    margin-top: -20px;
    padding-left: 5px;
}
nav ul {
    list-style: none;
    padding: 0px;
}
nav ul li {
    display: block;
}
nav ul li > a {
    text-decoration:none;
}
nav ul li > a:hover {
    text-decoration:underline;
}
.navbar-background, nav.backgroundgradient {
    background-color: #E70909;
}
.navlink {
    height: 35px;
    margin-right: 10px;
    font-size: 18px;
    float: left;
    padding-left:5px;
    padding-right:5px;
    padding-top: 12px;
    color: white;
    text-decoration: none;
}
.navlink.active {
    color: #e70709;
    background-color: #fff;
}